<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <img src="../assets/images/coreLogic_logo.png" alt="logo" class="logoImgCls">
    <span class="headTxtCls">Loan Managment System</span>
    <div class="navbar-nav rightCls">
        <!-- <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
        <a class="nav-item nav-link" (click)="logout()"><img src="../assets/images/logout-icon.jpg"> Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
